/* 
    Document   : index
    Created on : 10-Apr-2012, 20:17:12
    Author     : plutoless
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#index-wrap{
    position: relative;
    overflow-x: hidden;
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    
}

#index-wrap .key-board{
    width: 100%;
    height: auto;
    color: #6c6c6c;
    font-family: "Microsoft Yahei",
        Helvetica, sans-serif;
    font-size: 11px;
    overflow: auto;
    opacity: 0;
    z-index: 1;
}

#index-wrap .navigate-area{
    position: relative;
    width: 800px;
    height: 110px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:  "Opificio", "Microsoft Yahei",
        Helvetica, sans-serif;
}

#index-wrap .navigate-tips{
    position: relative;
    width: 100%;
    text-align: right;
    height: 100%;
}

#index-wrap .navigate-menu{
    position: relative;
    width: 100%;
    height: 100%;
}

#index-wrap .navigate-menu li .tags{
    position: absolute;
    background: white;
    width: 90px;
    bottom: 8px;
    font-size: 18px;
}

#index-wrap .navigate-menu ul{
    text-align: center;
}

#index-wrap .navigate-error{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

#index-wrap .navigate-error h1{
    
    font-size: 20px;
    padding: 45px;
}

#index-wrap .navigate-menu li{
    display: inline-block;
    margin: 10px 10px 0 10px;
    height: 90px;
    width: 90px;
    background: #333;
    color: #333;
    border: 2px solid #fff;
    background: url(../images/msg3/60.png) no-repeat center center;
    background-color: #123456;
}

#index-wrap .navigate-tips img{
    margin-right: 50px;
    margin-top: 7px;
}

.navigate-tips img{
    height: 100px;
    
}

#index-wrap ul{
    margin: 0;
    padding: 0;
}

#index-wrap .key-element-wrapper{
    float: left;
}

#index-wrap .key-size-normal{
    width: 7.8%;
    font-size: 14px;
}

#index-wrap .key-size-tab{
    width: 10%;
}

#index-wrap .key-size-backspace{
    width: 12%;
}

#index-wrap .key-size-caps{
    width: 14%;
}

#index-wrap .key-size-enter{
    width: 15.8%;
}

#index-wrap .key-size-shift-left{
    width: 13%;
}

#index-wrap .key-size-shift-right{
    width: 16.8%;
}

#index-wrap .key-size-control{
    width: 9%;
}

#index-wrap .key-size-command{
    width: 9%;
}

#index-wrap .key-size-option{
    width: 9%;
}

#index-wrap .key-size-space{
    width: 60%;
    text-align: center;
}

#index-wrap .key-size-message{
    width: 13%;
}

#index-wrap .key-element{
    margin: 4px;
}

#index-wrap .key-element-content{
    padding: 9px 0 0 0;
    text-align: center;
    cursor: pointer;
    background:#fff;
    height: 28px;
    border: solid 2px #fff;
}

#index-wrap .special-key{
    background:#eeeeee;
}

#index-wrap .special-key2{
}

#index-wrap .special-key3{
    background:#313131;
    color: #eee;
}



#index-wrap .key-element .color1{
    background-color: #b0c9e8;
}

#index-wrap .key-element .color2{
    background-color: #ffcc99;
}

#index-wrap .key-element .color3{
    background-color: #ff9899;
}

#index-wrap .key-element .color4{
    background-color: #9befa9;
}

#index-wrap .key-element .color5{
    background-color: #81c4f7;
}

#index-wrap .key-element .color6{
    background-color: #94dee0;
}

#index-wrap .key-element .nav-color1{
    background-color: #ffbfbf;
    color: #fff;
}

#index-wrap .key-element .nav-color2{
    background-color: #3c81b5;
    color: #fff;
}


#index-wrap .key-element .default{
    background-color: #fff;
    color: #333;
}

#index-wrap .key-element .hover{
    background: #333333;
    color: #eee;
}

#index-wrap .key-element .selected{
    background-color: #333333;
    color: #fff;
}


.overlay{
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



#msg-box-wrapper{
    width: 780px;
    margin: 50px auto 0 auto;
}

#msg-box-wrapper .msg-box{
    width: 100%;
    max-width: 100%;
    z-index: 0;
    text-align: center;
    color: #fff;
}
#msg-box-wrapper .msg-box span{
    font-size: 20px;
    font-family: 'Helvetica Neue', "Microsoft Yahei",
        Helvetica, sans-serif;
    line-height: 40px;
}

#msg-box-wrapper .msg-box .title{
}

#msg-box-wrapper .msg-box .text{
    background: #fff;
    color: #333;
}