/* 
    Document   : index
    Created on : 10-Apr-2012, 20:17:12
    Author     : plutoless
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#index-wrap{
    overflow-x: hidden;
    width: 100%;
    height: 340px;
    padding-top: 100px;
}

#index-wrap .key-board{
    width: 800px;
    height: auto;
    color: #6c6c6c;
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',
        'ＭＳ Ｐゴシック',sans-serif;
    font-size: 11px;
    overflow: auto;
    opacity: 0;
    z-index: 1;
    margin: 0 auto 0 auto;
}

#index-wrap ul{
    margin: 0;
    padding: 0;
}

#index-wrap .key-element-wrapper{
    float: left;
}

#index-wrap .key-size-normal{
    width: 7.8%;
    font-size: 14px;
}

#index-wrap .key-size-tab{
    width: 10%;
}

#index-wrap .key-size-backspace{
    width: 12%;
}

#index-wrap .key-size-caps{
    width: 14%;
}

#index-wrap .key-size-enter{
    width: 15.8%;
}

#index-wrap .key-size-shift-left{
    width: 13%;
}

#index-wrap .key-size-shift-right{
    width: 16.8%;
}

#index-wrap .key-size-control{
    width: 9%;
}

#index-wrap .key-size-command{
    width: 9%;
}

#index-wrap .key-size-option{
    width: 9%;
}

#index-wrap .key-size-space{
    width: 60%;
    text-align: center;
}

#index-wrap .key-size-message{
    width: 13%;
}

#index-wrap .key-element{
    margin: 4px;
}

#index-wrap .key-element-content{
    padding: 12px 0 0 0;
    text-align: center;
    cursor: pointer;
    background:#fff;
    height: 30px;
}

#index-wrap .special-key{
    background:#eeeeee;
}

#index-wrap .special-key2{
}

#index-wrap .special-key3{
    background:#313131;
    color: #eee;
}


#index-wrap .key-element .color1{
    background-color: #213540;
    color: white;
}

#index-wrap .key-element .color2{
    background-color: #3cb5a2;
    color: white;
}

#index-wrap .key-element .color3{
    background-color: #0c486c;
    color: white;
}

#index-wrap .key-element .color4{
    background-color: #fe4e50;
    color:white;
}

#index-wrap .key-element .color5{
    background-color: #3c81b5;
    color: white;
}

#index-wrap .key-element .color6{
    background-color: #eb9605;
    color: white;
}

#index-wrap .key-element .nav-color1{
    background-color: #ffbfbf;
    color: #fff;
}

#index-wrap .key-element .nav-color2{
    background-color: #3c81b5;
    color: #fff;
}


#index-wrap .key-element .hover{
    background: #333333;
    color: #eee;
}

#index-wrap .key-element .selected{
    background-color: #333333;
    color: #fff;
}

#nav-menu-wrapper{
}

.nav-menu{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    font-family: "futura-pt","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 14px;
}

.nav-menu .key-menu{
    width: 140px;
    height: 180px;
}

.nav-menu .key-menu .key-menu-content{
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../images/msg3/100.png") no-repeat center center;
}

.overlay{
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}