/* 
    Document   : index
    Created on : 10-Apr-2012, 20:17:12
    Author     : plutoless
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#index-wrap{
    margin: 50px auto auto auto;
    overflow: auto;    
    width: 800px;
}


#index-wrap .medium-block{
    float: left;
    opacity: 0;
    width: 25%;
    position: relative;
}


.medium-block .bg-layer{
    position: relative;
    overflow: hidden;
    padding: 10px;
    
}

.medium-block .bg-layer .content-layer{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}

.medium-block .bg-layer .content-layer img{
    width: 48px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

.medium-block .bg-layer .hover-layer{
    top: 100%;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #aaa;
    font-style: italic;
}

.medium-block .bg-layer .ctrl-layer{
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}



.clickable-block{
    cursor: pointer;
}

.clickable-block:hover{
}

#index-wrap .color1{
    background-color: #5b3c26;
}

#index-wrap .color2{
    background-color: #8ac5d4;
}

#index-wrap .color3{
    background-color: #ffef84;
}

#index-wrap .color4{
    background-color: #d7e8b2;
}

#index-wrap .admin-login{
  float: left;
  text-align: right;
  margin: 10px 0 0 5px;
  opacity: 0;
}

#index-wrap .admin-login .input-box{
  width: 120px;
  height: 25px;
  background: #C0E0EC;
  border: 2px solid #D0E3EC;
  color: #7993B4;
  padding: 3px 5px;
  display: inline;
  font-size: 12px;
  margin-right: 2px;
}

#index-wrap .admin-login .signup{
  width: 50px;
  height: 32px;
  background: #E34E50;
  border: 2px solid #E34E50;
  color: white;
  padding: 3px 2px;
  padding: 4px 0 4px;
  margin-left: 1px;
  text-transform: uppercase;
}