


.menu-column .return{
  background-color: green;
}

.menu-column .refresh{
  background-color: yellow;
}


.menu-column{
  float: left;
  width: 22%;
  overflow: auto;
}

.menu-column .menu-block{
  position: relative;
  width: 40px;
  height: auto;
}

.menu-block .menu-content{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.post-seg-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}


.post-seg-wrap .post-list-wrap{
    position: absolute;
    width: 760px;
    height: 235px;
    left: 20px;
    top: 15px;
    overflow: hidden;
    padding:0;
    white-space: nowrap;
}

.post-seg-wrap .post-list{
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 0;
}

.post-list li{
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 100%;
  white-space: normal;
  vertical-align: top;
  overflow: auto;
  color: #333;
  font-family: Georgia, "Microsoft Yahei", sans-serif;
}

.post-list li .post-left{
    float: left;
    width: 20%;
    font-size: 12px;
    color: #888;
    line-height: 20px;
    font-family: Courier, Helvetica, Arial, Sans-serif;
}

.post-left .place-holder{
    width: 1px;
    height: 20px;
}

.post-left .type{
    background: #EEE;
}

.post-list li .post-right{
    float: left;
    width: 80%;
    height:100%;
}

.post-seg-wrap .post-list .titleBar{
  width: 100%;
  margin: 0 0 20px 0;
}

.post-seg-wrap .post-list .titleBar .title{
  letter-spacing: 3px;
  font-size: 32px;
  padding: 8px;
  line-height: 28px;
}

.post-seg-wrap .post-list .time{
  font-size: 12px;
  text-transform: uppercase;
  color: #444;
}

.post-seg-wrap .post-list .info{
  margin-bottom: 5px;
  padding: 10px;
}

.post-seg-wrap .post-list .content{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 24px;
}

dl.zend_form dt {
  float: left;
  clear: left;
  text-align: right;
}

dl.zend_form dt label.required {

}

dl.zend_form dd {
  text-align: left;
  padding-left: 5px;
}

dl.zend_form #title-element input {
  width: 600px;
  margin-bottom: 5px;
}

dl.zend_form #text-element textarea {
  width: 600px;
  height: 400px;
}

dl.zend_form #submit-element input {
  text-align: left;
}

dl.zend_form dd ul.errors {
  list-style: none;
  padding: 0;
  margin: 0;
}

dl.zend_form dd ul.errors li {
  float: left;
  margin: 0 0.15em;
  font-size: 12px;
  color: #666666;
}